.map {
  background-color: gainsboro;
  border: solid thin silver;
  width: 100%;
  min-height: 50vh;
}

.card-thumbnail::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card:first-child {
  margin-left: 0 !important;
}