.map {
  background-color: gainsboro;
  border: solid thin silver;
  width: 100%;
  min-height: 50vh;
}

.card-thumbnail::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card:first-child {
  margin-left: 0 !important;
}

header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000, #0000, #0000, #0000);
  z-index: 1;
}

header * {
  z-index: 2;
  position: relative;
}

.ribbon {
  background-color: #87B970;
}

.component-overlay {
  z-index: 10000;
  transition: linear 150ms;
}

.component-hidden {
  top: 100% !important;
  transform: scale(0.75);
}

.component-overlay .map-wrapper {
  position: absolute;
}

#map #content {
  z-index: 10000;
}